/* http://stackoverflow.com/questions/2454577/sphinx-restructuredtext-show-hide-code-snippets */

/* PE, 2015/08/15
   Adjusted the style to work reasonably with the bootstrap theme, in particular when using "toggle" in lists as in the example sections.
*/

.toggle .header {
    padding-left: 0pt;
    padding-top: 0pt;
    padding-bottom: 10pt;
}

.toggle .header:before {
    content: "▼ [show file]";
}

.toggle .header.open:before {
    content: "▲ [hide file]";
}

dl {
    margin-left: 15px;
}
